singularity {
    pullTimeout = '40m'
}

process {
  withName: 'wf_dorado:dorado' {
    memory = '12 GB'
  }
}


process {
 
 withName: 'wf_dorado:make_mmi' {
    memory = '12 GB'
  }
 
 withName: 'wf_dorado:align_and_qsFilter' {
    memory = '12 GB'
  }
 
 withName: 'wf_dorado:merge_pass_calls' {
    memory = '12 GB'
  }

 withName: 'wf_dorado:merge_fail_calls' {
    memory = '12 GB'  
  }

}
